[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
psycopg2 = "*"
alembic = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
